html, body{
    margin: 0;
    padding: 0;
}


.screen{
    width: 100%;
    height: 100vh;
    position: relative;
    /* align-items: center; */
   
}

.footerBox{
    padding: 13px 18px;
    background-color: wheat;
    border: none;
    border-radius: 14px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    /* align-items: center;
    justify-content: center; */
    gap: 18px;
    transition: 1.1s;
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.2);

} 

@media (min-width: 900px){
    .footerBox{
        padding: 13px 18px;
        background-color: wheat;
        border: none;
        border-radius: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display:flex;
        /* align-items: center;
        justify-content: center; */
        gap: 18px;
    } 
}
@media (max-width :900px){
    .footerBox{
        padding: 13px 15px;
        background-color: wheat;
        border: none;
        border-radius: 14px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        display:flex;
        flex-direction: column;
        /* align-items: center;
        justify-content: center; */
        gap: 10px;
        box-shadow: 9px 12px 8px rgba(0, 0, 0, 0.2)

    }

}
.btn{
    padding: 7px 19px;
    border-radius: 14px;
    border: none;
    align-items: center;
    cursor: pointer;
    transition: 0.17s;
    font-weight: 800;
    color: wheat;


}
.btn:hover{
    transform: scale(1.07);
    /* box-shadow: 10px 5px black  6px; */
}
.black{
    background-color: black;
}
.red{
    background-color: red;
}
.green{
    background-color: green;
}
.blue{
    background-color: #063970;
}
.olive{
    background-color: olive;
}
.orange{
    background-color: #ec841a;
}
.violet{
    background-color: #a731e2;
}
.lavender{
    background-color: #C3B1E1;
    color: white;
}
.pink{
    background-color: #b85b9f;
}