#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.toggle{
  width: 170px;
  border: none;
  border-radius: 14px;
  padding: 10px 22px;
  background-color: black;
  color: white;
  cursor: pointer;
  align-items: center;
}
.center{
  width: 350px;
  border: 1px solid grey;
  border-radius: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

}
.center-img{
  width: 100%;
}
img{
  width: 100%;
  height: 60%;
  object-fit: cover;
  border-radius: 14px;
}
.padding{
  text-align: left;
  padding: 13px;
}

.d-none{
  display: none;
}
.div{
  display: flex;
  justify-content: space-between;

}
